
.root-entry{
  a{
    text-decoration:none;
    &:hover {
       text-decoration: none; 
      }
  }
  ul,li{
    list-style: none;
  }
  p,h1,h2,h3,h4,h5,ul,li,img{
    margin: 0;
    padding: 0;
  }
}